/* styles.css */
/* .container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px; Adjust the max width as needed
  }
   */

  .vending, .myItems {
    flex: 1;
    margin: 10px;
  }
  

  /* Existing styles for .vending-machine */
  .vending-machine {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; Ensure the table uses the full width of the flex item */
  }
  
  .vending-machine th, .vending-machine td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .vending-machine tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .vending-machine tr:hover {
    background-color: #ddd;
  }
  
  .vending-machine th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  
  
  .dashboard {
    display: flex;
    justify-content: space-between;
  }


  .inventory {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin: 10px;
  }
  
  .inventory th, .inventory td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .inventory tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .inventory tr:hover {
    background-color: #ddd;
  }
  
  .inventory th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }


  .vend, .myItems {
    flex: 1;
    margin: 10px;
  }
  

  /* Existing styles for .vend-machine */
  .vend-machine {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* width: 100%; Ensure the table uses the full width of the flex item */
  }
  
  .vend-machine th, .vend-machine td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .vend-machine tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .vend-machine tr:hover {
    background-color: #ddd;
  }
  
  .vend-machine th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #3443e2;
    color: white;
  }



  






  .new-item-form-container {
    /* display: flex; */
    /*  justify-content: center; */
    align-items: center;
    /* height: 100vh; */
  }
  
  .new-item-form {
    display: flex;
    flex-direction: column;
    max-width: 35vh;
    /* margin: auto; */
  }

  .addButton {
    /* display: flex; */
    /* flex-direction: column; */
    max-width: auto;
    /* margin: auto; */
  }
  
  label {
    margin-bottom: 0.5vh;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #501f84;
  }
  